# Block direct HTTP access to all PHP files in this directory by default
<FilesMatch "\.php$">
    Require all denied
</FilesMatch>

# Re-allow only the public AJAX endpoints
<Files "Login.php">
    Require all granted
</Files>
<Files "Master.php">
    Require all granted
</Files>
<Files "Users.php">
    Require all granted
</Files>
<Files "QrScan.php">
    Require all granted
</Files>
